.readmore-link {
  padding-right: 28px;
  text-decoration: none;

  &:hover,
  &:focus {
    path {
      fill: gesso-color(text, link-hover);
    }
  }
}

.readmore-link__icon {
  display: inline-block;
  margin-right: -28px;
  position: relative;
  top: 8px;
  width: 28px;

  path {
    fill: gesso-color(text, link);
  }
}

.readmore-link__accessibility-description {
  @extend %visually-hidden;
}
