// CSS styles and overrides for Pattern Lab only.
// This stylesheet is not loaded by the theme.
@use "sass:math";

$pattern-lab-overrides: true;

// Import all site styles.
@import 'styles';

// Additional styling and overrides for Pattern Lab elements.
// The container for the 'view all' screen, which contains the list of patterns.
.pl-c-pattern-index {
  box-sizing: border-box !important;
  max-width: em(gesso-constrain(lg));
  padding: 0 1em !important;
}

// <html> tag class around content in Pattern Lab (see _00-head.twig)
.pattern-lab-content {
  min-height: 0;
}

// Override styles leaking into PL’s tag class.
.pl-c-pattern-info {
  .token.tag {
    border: 0;
    border-radius: 0;
    box-shadow: inherit;
    display: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: none;
    transition: inherit;
  }
}

// Color Swatches
$swatch-size: rem(150px);
$swatch-padding: 1rem;

.pattern-lab-color__group {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $swatch-padding;
}

.pattern-lab-color-swatch {
  border: 1px solid #c1c1c1;
  flex: 0 0 ($swatch-size + 2 * $swatch-padding);
  margin: 0 math.div($swatch-padding, 2) $swatch-padding;
  max-width: ($swatch-size + 2 * $swatch-padding);
  padding: $swatch-padding;
}

.pattern-lab-color-swatch__indicator {
  height: $swatch-size;
  margin-bottom: $swatch-padding;
  width: $swatch-size;
}

.pattern-lab-color-swatch__meta {
  line-height: 1.2;
}

.pattern-lab-color-swatch__name {
  margin-bottom: rem(8px);
}

.pattern-lab-color-swatch__hex {
  font-family: Menlo, Consolas, 'Lucida Console', 'Liberation Mono',
    'Courier New', monospace, sans-serif;
  font-size: rem(14px);
}

.pattern-lab-color-swatch__sass-code {
  display: block;
  font-size: rem(12px);
  margin-top: rem(4px);
}

// Font Families
.pattern-lab-font {
  margin-bottom: rem(45px);
}

.pattern-lab-font__family {
  font-size: rem(20px);
  font-weight: 700;
  margin-bottom: rem(5px);
  text-align: center;

  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__item {
  display: flex;
  flex-direction: column;
  margin: rem(30px) 0;

  @include breakpoint(800px) {
    flex-direction: row;
  }
}

.pattern-lab-font__preview {
  border-bottom: 2px solid #eee;
  font-size: rem(18px);
  font-style: normal;
  font-weight: 400;
  padding: rem(20px) 0;
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    border-bottom: 0;
    border-right: 2px solid #eee;
    margin: rem(5px) rem(30px) 0 0;
    padding: 0 rem(20px);
    text-align: left;
    width: 65%;
  }
}

.pattern-lab-font__preview-character {
  font-size: rem(75px);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    flex-shrink: 0;
    text-align: left;
    width: 35%;
  }
}

.pattern-lab-font__preview-meta {
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__label {
  color: #999;
}

.pattern-lab-font__name {
  color: #565454;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: rem(5px) 0;
}

.pattern-lab-font__weight {
  color: #000;
  font-size: rem(13px);
  margin-bottom: rem(5px);
}

.pattern-lab-font__style {
  color: #000;
  font-size: rem(13px);
  margin-bottom: rem(5px);
}

// Box Shadows
$shadow-swatch: rem(200px);
$shadow-gutter: rem(50px);

.pattern-lab-box-shadow {
  display: flex;
  flex-wrap: wrap;
}

.pattern-lab-box-shadow__item {
  display: flex;
  flex: 0 0 $shadow-swatch;
  height: $shadow-swatch;
  margin: 0 math.div($shadow-gutter, 2) $shadow-gutter;
  width: $shadow-swatch;
}

.pattern-lab-box-shadow__label {
  margin: auto;
  padding: 1rem;
  text-align: center;
}

// Duration
$duration-swatch: rem(40px);

.pattern-lab-duration {
  margin-bottom: 1rem;
}

.pattern-lab-duration__help-text {
  margin-bottom: 1rem;
}

.pattern-lab-duration__indicator {
  background-color: #666;
  border-radius: 50%;
  display: inline-block;
  height: $duration-swatch;
  margin-bottom: 2rem;
  position: relative;
  transition: all 2s ease-out;
  width: $duration-swatch;
}

.pattern-lab-duration__item {
  flex: 0 0 rem(150px);
  padding: 1rem;
  text-align: center;
}

.pattern-lab-duration__group {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  &:hover {
    .pattern-lab-duration__indicator {
      transform: scale(1.5);
    }
  }
}

// Easing
$easing-swatch: rem(75px);

.pattern-lab-easing {
  background-color: #eee;
  padding: 1rem;
}

.pattern-lab-easing__help-text {
  margin-bottom: 1rem;
}

.pattern-lab-easing__indicator {
  background-color: #666;
  border-radius: 10%;
  height: $easing-swatch;
  left: 0;
  margin-bottom: 0.5rem;
  position: relative;
  transition-duration: 1s;
  transition-property: left;
  width: $easing-swatch;
}

.pattern-lab-easing__item {
  margin-bottom: 1rem;
}

.pattern-lab-easing__group {
  padding: 0 rem(150px) 0 1rem;

  &:hover {
    .pattern-lab-easing__indicator {
      left: 100%;
    }
  }
}

$swatch-size: rem(150px);
$swatch-padding: 1rem;

.pattern-lab-color-swatch {
  border: 1px solid #c1c1c1;
  flex: 0 0 ($swatch-size + 2 * $swatch-padding);
  margin: 0 math.div($swatch-padding, 2) $swatch-padding;
  max-width: ($swatch-size + 2 * $swatch-padding);
  padding: $swatch-padding;
}

.pattern-lab__color-group {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $swatch-padding;
}

.pattern-lab-color-swatch__indicator {
  height: $swatch-size;
  margin-bottom: $swatch-padding;
  width: $swatch-size;
}

.pattern-lab__text-style {
  margin-bottom: 3rem;
}

.pattern-lab-text-style__label {
  text-transform: uppercase;
}

// For components used on a dark background. (e.g., `--inverse` variants)
$dark-bg-padding: 1em;

// stylelint-disable selector-max-id
[id*='--inverse'].pl-c-pattern {
  background: #212121;
  color: #fff;
  margin-left: -$dark-bg-padding;
  margin-right: -$dark-bg-padding;
  padding: 0 $dark-bg-padding $dark-bg-padding;

  .pl-c-pattern__title-link:hover,
  .pl-c-pattern__title-link:focus {
    color: #fff !important;
  }

  .pl-c-pattern__extra {
    color: #212121;
  }
}
// stylelint-enable
